<!doctype html>
<html lang="en">
  <head>
    <title>TODOs</title>
  </head>

  <body>
    <h1>TODOs:</h1>

    <% todos.forEach(function(todo) { %>
      <div><a href="/todos/<%= todo._id %>"><%= todo.title + ' - ' + todo.completed %></a></div>
    <% }) %>

  </body>
</html>
