<!doctype html>
<html lang="en">
  <head>
    <title>TODOs</title>
  </head>

  <body>
    <h1>TODO <%= todo._id %></h1>
    <h3><b>Title:</b><%= todo.title %></h3>
    <h3><b>Completed:</b><%= todo.completed %></h3>
  </body>
</html>
