<div>
  <h3>SHOW</h3>
  <p><b>Title: </b><%= todo.title %></p>
  <p><b>ID: </b><%= todo._id %></p>
  <p><b>Completed: </b><%= todo.completed %></p>
</div>
<a href="/todos" class="btn btn-primary">Back</a>
<a href="/todos/<%= todo._id %>/edit" class="btn btn-danger">Edit</a>
